@import "./styles/reset.scss";

body {
    background-color: lavenderblush;
}

#top-page {
    display: block;
}

#top-page .title {
    font-family: sans-serif;
    font-size: 20px;
}

#mid-page {
    display: flex;
    flex-direction: row;
}


.sidebar {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50px;
    height: 1250px;
    background-color: rgb(10, 10, 95);
    font-family: sans-serif;
    text-align: center
}

.sidebar ul{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.sidebar ul li{
    margin-top: 15px; 
}

.userinput {
    display: block;
    position: relative;
}

.main-chart {
    border:rgb(10, 10, 95);
    border-width: 2px;
}

