@import "./styles/reset.scss";

body {
    // background-color: rgb(255, 255, 255);
    background: url("https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-light-colors_476363-5558.jpg?w=1480") no-repeat center center fixed;
    background-size: cover;
}

#top-page {
    display: block;
    
}

#top-page .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    font-size: 25px;
    font-style: italic;
}

#top-page #user-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top-page #user-input input{
    background-color: white;
    width: 70px;
    border: 1px solid;
    border-color: black
}

#top-page #user-input button {
    background-color: lightgrey;
    color: black;
    width: 70px;
    border: 1px solid;
    border-color: black;
    
}

#mid-page {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.sidebar {
    color: white;
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: rgb(10, 10, 95);
    text-align: center;
    border-radius: 0px, 8px, 8px, 0px;
}

.sidebar ul {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin-top: 15px;
}

#left-panel {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-right: 20px;
}

.main-chart {
    display: flex;
    border: rgb(10, 10, 95) solid;
    border-width: 1px;
    padding: 0;
}

.user-input {
    display: block;
    position: relative;
}

#trades{
    display: flex;
}

#trades-excluded {
    height: 200px;
    width: 470px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    border: 1px solid;
    border-color: black
}
#trades-excluded h2 {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    font-weight: bold;
    font-size: 20px;
}
#trades-excluded button {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    height: 12%;
    width: 18%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(68, 4, 4);
    padding: 4px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#trade-selector {
    height: 200px;
    width: 470px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    border: 1px solid;
    border-color: black

}

#trade-selector h2 {
   display: flex;
   justify-content: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 400px;
   font-weight: bold;
   font-size: 20px;
}

#trade-selector button {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    height: 12%;
    width: 18%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(48, 47, 47);
    padding: 4px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


